@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
  background-color: purple;
  font-family: "Dancing Script";
  test-align:center
  font-size: 200%;
}
header{
    color: white;
    text-shadow: 5px 5px 3px blue;
  }
section{
  background-color: white;
  width: 300px;
  margin: auto;
  border-radius: 30px;
  box-shadow: 5px 5px 5px blue;
}
  footer{
  color: white;
  text-shadow: 5px 5px 3px blue;
  }
